<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="65536000"/>
  </system.web>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="DocumentsService.Service">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="DocumentsService.IService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize ="65536000" maxBufferSize="65536000" transferMode="Buffered">
          
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp  helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
